.container
{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.question-statement
{
  padding: 10px;
  margin: 10px;
  border: 5px solid rgb(148, 0, 161);
  border-radius: 10px;
  min-width: 400px;
  max-width: 900px;
  background-color: rgb(219, 126, 255);
}